/* Basics */
html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background: rgb(19, 27, 27);
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    min-height: 100%;
}

/* Header */

#header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 997;
}

#header.header-fixed {
    background: rgba(52, 59, 64, 0.9);
    padding: 20px 0;
    height: 71px;
    transition: all 0.5s;
}

/* Nav */

#nav-menu-container {
    float: right;
    margin: 0;
}

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    height: auto;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>li {
    float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

.nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    outline: none;
}

.nav-menu>li {
    margin-left: 10px;
}

.nav-menu>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #b9d9eb;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover>a:before,
.nav-menu .active>a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav-menu ul {
    margin: 4px 0 0 0;
}

.nav-menu ul li {
    background: #fff;
}

.nav-menu ul li:first-child {
    border-top: 0;
}

.nav-menu ul li a {
    padding: 10px;
    color: #fff;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
}

.nav-menu ul li a:hover {
    background: #b9d9eb;
    color: #fff;
}

.nav-menu ul ul {
    margin: 0;
}

/* Landing page */

.page-container {
    width: 100%;
    height: 100vh;
    /* background: url(../photos/profile_pic.jpg)  top center; */
    background-size: cover;
    position: relative;
}

.page{
    height: 100%;
}

.vert-center-col {
    display: flex;
    align-items: center;
}

#details-page-container {
    background-color: darkslategray;
}

#name {
    font-size: 40px;
    color: white;
}
