/* Basics */
html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    background-image: radial-gradient(#000000, #111111);
    color: #ffffff;
    font-family: Vollkorn;
    min-height: 100%;
}

/* Header */

#header {
    padding: 20px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 997;
}

#header.header-fixed {
    background: rgba(52, 59, 64, .95);
    padding: 20px 0;
    height: 71px;
    transition: all 0.5s;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #b9d9eb;
  color: #fff;
}

#nav-name-container {
    display: none;
    float: left;
    position: relative;
}

#nav-name-container a {
    text-decoration: none;
}

#nav-name {
    color: whitesmoke;
}

/* Nav */

#nav-menu-container {
    float: right;
    margin: 0;
}

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>li {
    float: left;
}

.nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: whitesmoke;
    font-size: 18px;
    outline: none;
}

.nav-menu>li {
    margin-left: 10px;
}


.nav-menu li a:hover {
    color: lightblue;
}

/* General Page Classes */
.page-container {
    width: 100%;
    height: 100vh;
    /* background: url(../photos/profile_pic.jpg)  top center; */
    background-size: cover;
    position: relative;
}

.page{
    height: 100%;
}

.page-header-row {
    padding-top: 71px;
    height: 20%;
    width: 100%;
}

.page-header-row h1 {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.vert-center-col {
    display: flex;
    align-items: center;
}


/* Landing page */

#headshot-pic {
    position: absolute;
    opacity: .9;
    bottom: 0px;
    right: 0px;
    max-width: 55%;
    max-height: 90%;
}

#name {
    font-size: 80px;
    color: whitesmoke;
}

#name-section {
    margin-left: 10%;
    width: 50%;
}

#learn-more-button {
    background: none ;
    border: 2px solid lightblue;
    color: whitesmoke;
}



/* Details Page */

#details-page-container {
    background-color: whitesmoke;
    color: black;
}

#details-text-col {
    font-size: 20px;
}

.links-row {
    padding: 30px;
}

.links-row a {
    color: inherit;
}

#links-container {
    font-size: 100%;
}


/* Experience Page */

#experience-page-container {
    background-color: lightgray;
    color: black;
}

#experience-content {
    height: 70%;
    padding-right: 15%;
    padding-left: 15%;
}

.experience-logo-container {
    height: 125px;
    display: flex;
    align-items: center;
}

.experience-logo {
    width: 200px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.experience-text {
    margin-top: 20px;
    font-size: 20px;
}

@media(max-width: 991px){
    #experience-content {
        padding-right: 5%;
        padding-left: 5%;
    }
}
