body{
    background-color: #86B3D1;
}

#navbar {
    background-color: #315587;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline-block; 
    padding: 15px 5% ;
}

li a {
    color: #86B3D1;
    text-decoration: none;
}

li a:hover{
    color: white;
}


