#dropdown {
    display:none;
}

@media only screen and (max-width: 768px){
    #dropdown {
	display: block;
    }
}

#sidebar {
    background-color: white;
    max-width: 400px;
}
#main-content {
    background-color:tan;
}

.videoWrapper{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-width: 560px;
	max-height: 315px;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

#profile-pic{
    max-height: 100%; 
    width:auto;
}

[id$="-container"]{
    height:100vh;
}

.nav > a.active {
    background-color: darkgray;
}
.navbar-toggler-icon {
    margin-left:6px;
    background-color:lightgray;
}

.project-image {
    width : 100%; 
    height: 100%;

    max-width: 400px;
    max-height: 400px;
}
